<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="./css/style.css">
        <link rel="icon" href= './img/ic_cloud_black_24dp_1x.png'>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
        </div>  
        {{>footer}}
    </body>
</html>