<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>
        <link rel="icon" href= './img/ic_cloud_black_24dp_1x.png'>
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Use this site to get your current weather.</p>
            <form>
                <input type="text" value="" placeholder="Location"/>
                <button>Search</button>
            </form>
            <p id="message-1"></p>
            <p id="message-2"></p>
        </div> 
        {{>footer}}
        <script src="/js/app.js"></script>
    </body>
</html>